<div *ngIf="!loadingFlag" class="col" style="height:calc(100% - 137px);">
        <div class="height" style="height:50px;" layout="row" layout-align="start center">
            <h5 class="fs16 fw600">Available loan offers</h5>
        </div>
        <div class="height" style="height:calc(100% - 50px)">
            <div class="height" layout="row" layout-align="start center" style="height:100px;width:100%;background:#fff;margin-bottom: 15px;padding: 0px 15px;border-radius: 10px;">
                <div class="" style="width:auto;" layout="row" layout-align="start center">
                    <div class="" layout="row" layout-align="center center" style="height: 60px;width: 60px;border-radius: 50px;">
                        <img src="/assets/icons/hdfc.png" class="" style="height:60px;">
                    </div>
                </div>
                <div class="" style="width:auto;padding-left:10px;" layout="column" layout-align="center start">
                    <h5 class="fs16 fw600">HDFC Bank</h5>
                    <h5 class="fs12 fw500" style="color:#2F4F4F;">Our bank offers bike loans with attractive interest rates and can finance up to 95% of the vehicle's value.</h5>
                </div>
            </div>
            <div class="height" layout="row" layout-align="start center" style="height:100px;width:100%;background:#fff;margin-bottom: 15px;padding: 0px 15px;border-radius: 10px;">
                <div class="" style="width:auto;" layout="row" layout-align="start center">
                    <div class="" layout="row" layout-align="center center" style="height: 60px;width: 60px;border-radius: 50px;">
                        <img src="/assets/icons/SBI.webp" class="" style="height:60px;">
                    </div>
                </div>
                <div class="" style="width:auto;padding-left:10px;" layout="column" layout-align="center start">
                    <h5 class="fs16 fw600">SBI Bank</h5>
                    <h5 class="fs12 fw500" style="color:#2F4F4F;">Offers bike loans with interest rates starting at 11.90%.</h5>
                </div>
            </div>
            <div class="height" layout="row" layout-align="start center" style="height:100px;width:100%;background:#fff;margin-bottom: 15px;padding: 0px 15px;border-radius: 10px;">
                <div class="" style="width:auto;" layout="row" layout-align="start center">
                    <div class="" layout="row" layout-align="center center" style="height: 60px;width: 60px;border-radius: 50px;">
                        <img src="/assets/icons/icici.jpeg" class="" style="height:60px;">
                    </div>
                </div>
                <div class="" style="width:auto;padding-left:10px;" layout="column" layout-align="center start">
                    <h5 class="fs16 fw600">ICICI Bank</h5>
                    <h5 class="fs12 fw500" style="color:#2F4F4F;">Offers bike loans with interest rates ranging from 9% to 28.00%.</h5>
                </div>
            </div>
            <div class="height" layout="row" layout-align="start center" style="height:100px;width:100%;background:#fff;margin-bottom: 15px;padding: 0px 15px;border-radius: 10px;">
                <div class="" style="width:auto;" layout="row" layout-align="start center">
                    <div class="" layout="row" layout-align="center center" style="height: 60px;width: 60px;border-radius: 50px;">
                        <img src="/assets/icons/bandhan.jpg" class="" style="height:60px;">
                    </div>
                </div>
                <div class="" style="width:auto;padding-left:10px;" layout="column" layout-align="center start">
                    <h5 class="fs16 fw600">Bandhan Bank</h5>
                    <h5 class="fs12 fw500" style="color:#2F4F4F;">Offers bike loans with interest rates ranging from 16.50% to 22.5%.</h5>
                </div>
            </div>
            
        </div>
       
    </div>

    <!-- -----------Loading----- -->
   <div *ngIf="loadingFlag" style="height: 515px; padding: 0 34px;" layout="column" layout-align="center center" >
      <div class="fs20 fw400 textPC" style="text-align: center;">We’re on it! Fetching the best bank loan deals for you...</div>
      <div class="loading-spinner mt30"></div>
    </div>
