<div *ngIf="!loadingFlag && !endFlag" class="col" style="height:calc(100% - 137px);">
        <div class="height" style="height:50px;" layout="row" layout-align="start center">
            <h5 class="fs16 fw600">Available Loan Offers</h5>
        </div>
        <div class="height" style="height:calc(100% - 50px)">
            <div class="height" (click)="selectBank()" layout="row" layout-align="start center" style="height:100px;width:100%;background:#fff;margin-bottom: 15px;padding: 0px 15px;border-radius: 10px;">
                <div class="" style="width:auto;" layout="row" layout-align="start center">
                    <div class="" layout="row" layout-align="center center" style="height: 60px;width: 60px;border-radius: 50px;">
                        <img src="/assets/icons/jananta.png" class="" style="height:60px;">
                    </div>
                </div>
                <div class="" style="width:auto;padding-left:10px;" layout="column" layout-align="center start">
                    <h5 class="fs16 fw600">Janata Sahakari Bank</h5>
                    <h5 class="fs12 fw500" style="color:#2F4F4F;">Amount up to ₹ 1,00,000, Interest: 9.50%, Tenure: up to 84 months.</h5>
                </div>
            </div>
            <div class="height" layout="row" layout-align="start center" style="height:100px;width:100%;background:#fff;margin-bottom: 15px;padding: 0px 15px;border-radius: 10px;">
                <div class="" style="width:auto;" layout="row" layout-align="start center">
                    <div class="" layout="row" layout-align="center center" style="height: 60px;width: 60px;border-radius: 50px;">
                        <img src="/assets/icons/SuryodayBank.png" class="" style="height:60px;">
                    </div>
                </div>
                <div class="" style="width:auto;padding-left:10px;" layout="column" layout-align="center start">
                    <h5 class="fs16 fw600">Suryoday Small Finance Bank</h5>
                    <h5 class="fs12 fw500" style="color:#2F4F4F;">Amount: up to 90% of the on-road price, Interest: 11%, Tenure: up to 48 months.</h5>
                </div>
            </div>
            <div class="height" layout="row" layout-align="start center" style="height:100px;width:100%;background:#fff;margin-bottom: 15px;padding: 0px 15px;border-radius: 10px;">
                <div class="" style="width:auto;" layout="row" layout-align="start center">
                    <div class="" layout="row" layout-align="center center" style="height: 60px;width: 60px;border-radius: 50px;">
                        <img src="/assets/icons/IDFC.jpg" class="" style="height:60px;width:100%;">
                    </div>
                </div>
                <div class="" style="width:auto;padding-left:10px;" layout="column" layout-align="center start">
                    <h5 class="fs16 fw600">IDFC First Bank</h5>
                    <h5 class="fs12 fw500" style="color:#2F4F4F;">Amount up to ₹ 1,00,000, Interest: 9% to 26%, Tenure: up to 48 months</h5>
                </div>
            </div>
            <div class="height" layout="row" layout-align="start center" style="height:100px;width:100%;background:#fff;margin-bottom: 15px;padding: 0px 15px;border-radius: 10px;">
                <div class="" style="width:auto;" layout="row" layout-align="start center">
                    <div class="" layout="row" layout-align="center center" style="height: 60px;width: 60px;border-radius: 50px;">
                        <img src="/assets/icons/Bom.png" class="" style="height:60px;">
                    </div>
                </div>
                <div class="" style="width:auto;padding-left:10px;" layout="column" layout-align="center start">
                    <h5 class="fs16 fw600">Bank of Maharashtra</h5>
                    <h5 class="fs12 fw500" style="color:#2F4F4F;">Amount up to ₹ 1,00,000, Interest: 8.5% to 11%, Tenure: up to 60 months</h5>
                </div>
            </div>
             <div class="height" layout="row" layout-align="start center" style="height:100px;width:100%;background:#fff;margin-bottom: 15px;padding: 0px 15px;border-radius: 10px;">
                <div class="" style="width:auto;" layout="row" layout-align="start center">
                    <div class="" layout="row" layout-align="center center" style="height: 60px;width: 60px;border-radius: 50px;">
                        <img src="/assets/icons/LTFinance.webp" class="" style="height:60px;width:100%;">
                    </div>
                </div>
                <div class="" style="width:auto;padding-left:10px;" layout="column" layout-align="center start">
                    <h5 class="fs16 fw600">L&T Finance</h5>
                    <h5 class="fs12 fw500" style="color:#2F4F4F;">Amount up to 100% of the on-road price, Interest: starting from 9.5%, Tenure: up to 48 months</h5>
                </div>
            </div>
            
        </div>
       
</div>

    <!-- -----------Loading----- -->
   <div *ngIf="loadingFlag && !endFlag" style="height: 515px; padding: 0 34px;" layout="column" layout-align="center center" >
      <div class="fs20 fw400 textPC" style="text-align: center;">We’re on it! Fetching the best loan offers for you...</div>
      <div class="loading-spinner mt30"></div>
    </div>

<div *ngIf="endFlag" style="height: 515px; padding: 0 20px;" layout="column" layout-align="center center" >
      <div class="fs20 fw400 textPC" style="text-align: center;">Congratulations! Your loan application is submitted to Janata Sahakari Bank. Their representative will be in touch with you shortly for further processing.</div>
</div>
