<div class="pdfContain" style="position: absolute">
  <div class="pdfContain" layout="column" layout-align="center center">
    <div class="mt40" style="border-bottom: 1px solid #65558f">
      <button
        type="button"
        class="fs16 fw600 primColor uploadBtn h30"
        (click)="fileDummyClick()" layout="row" layout-align="center center"
      >
        <img src="assets/icons/Add.svg" />
        <h5>Upload File</h5>
      </button>
    </div>
    <input
      type="file"
      #fileInput
      id="file"
      style="display: none"
      (change)="onFileSelected($event)"
      accept="application/pdf"
    />
  </div>
  <div
    *ngIf="pdfSrc"
    class="row"
    style="padding: 0px 20px; height: 60px"
    layout="row"
    layout-align="end center"
  >
    <button
      class="iconLabelButton"
      *ngIf="
        block?.status === blockStatus.inProgress ||
        block?.status !== blockStatus.accepted
      "
      (click)="setStatus(blockStatus.accepted)"
      style="margin-right: 20px; color: #2e8b57; border-color: #2e8b57"
      layout="row"
      layout-align="center center"
    >
      <img src="/assets/icons/check.svg" />Accept
    </button>
    <button
      class="iconLabelButton"
      *ngIf="
        block?.status === blockStatus.inProgress ||
        block?.status !== blockStatus.rejected
      "
      (click)="setStatus(blockStatus.rejected)"
      style="color: #dc143c; border-color: #dc143c"
      layout="row"
      layout-align="center center"
    >
      <img class="pt hw18" src="/assets/icons/close.svg" />Reject
    </button>
  </div>
  <div *ngIf="pdfSrc" class="v">
    <object
      class="pdfObject"
      [data]="pdfSrc"
      type="application/pdf"
      width="794px"
      height="1123px"
    >
      Your browser does not support PDFs.
    </object>
  </div>
</div>
