<div *ngIf="!showUploadType && !analysisFlag">
  <div
    class="row pad20"
    style="height: auto; background-color: #ffffff"
    layout="column"
    layout-align="start center"
  >
    <h5 class="fs18 fw400 textPC">Bank Statement is not uploaded yet.</h5>
    <h5 class="fs15 mt20 fw400 textPC">
      Add a bank Statement to proceed
    </h5>
    <button
      class="button mt20 fs14 fw700"
      style="width: 180px"
      (click)="addAccount()"
    >
      Add Account
    </button>
    <span class="fs13 mt20 fw400 mt5 textPC"
      >Discovery using Account Aggregator</span
    >
  </div>
</div>

<div *ngIf="showUploadType">
  <app-aa-integration
    (aaFetchFlag)="aaFetch($event)"
    (callback)="callBackAA($event)"
  ></app-aa-integration>
</div>

<div *ngIf="analysisFlag">
  <app-analysis (step)="next($event)"></app-analysis>
</div>
