<div *ngIf="!fileFlag">
  <div class="row h155" style="background-color: #ffffff; padding: 15px">
    <h5 class="row mt15 fs16 fw600 primColor" style="text-align: center">
      Upload your quotation
    </h5>
    <app-upload (fileFlag)="fileUpload($event)"></app-upload>
  </div>
</div>

<div
  class="row"
  *ngIf="fileFlag && !validationFlag"
  layout="column"
  layout-align="center center"
>
  <div class="col pad15" style="background-color: #ffffff">
    <h5 class="row primColor fs16 fw600 h40">Uploaded Quotation</h5>
    <img class="row" style="height: 370px" src="assets/icons/Quotation.webp" />
    <h5 class="row mt20 textPC fs16 fw400 h40">Validate Quotation to proceed Further</h5>
  </div>

  <div
    class="row mt30"
    layout="column"
    layout-align="center center"
    style="gap: 10px"
  >
    <button style="width: auto" (click)="validationFlag = true">
      Validate
    </button>
  </div>
</div>

<div class="row" *ngIf="validationFlag">
  <div class="row" style="background-color: #ffffff; height: 320px">
    <div
      class="row padt20"
      layout="column"
      layout-align="start center"
      style="gap: 10px; height: 70px"
    >
      <h5 class="fs16 fw500 primColor">Quotation validation</h5>
      <h5 class="fs14 fw400 textPC">Your Quotation validate successfuly</h5>
    </div>

    <div class="mt20 row" style="height: calc(100% -70px)">
      <div class="tableHead h40">
        <div
          class="tableCell label fw500 col"
          layout="row"
          layout-align="start center"
          style="width: 40%"
        >
          Upload
        </div>
        <div
          class="tableCell label fw500 col"
          layout="row"
          layout-align="start center"
          style="width: 40%"
        >
          Validate
        </div>
        <div
          class="tableCell label fw500 col"
          layout="row"
          layout-align="start center"
          style="width: 20%"
        >
          Check
        </div>
      </div>
      <div class="tableBody">
        <div
          class="tableRow borderLR h60"
          style="height: 50px"
          *ngFor="let item of dataEntries"
        >
          <div
            class="tableCell label fw500 col"
            layout="row"
            layout-align="start center"
            style="width: 40%"
          >
            {{ item[0] }}
          </div>

          <div
            class="tableCell label fw500 col"
            layout="row"
            layout-align="start center"
            style="width: 40%"
          >
            {{ item[1] }}
          </div>
          <div
            class="tableCell label fw500 col"
            layout="row"
            layout-align="center center"
            style="width: 20%"
          >
            <img src="assets/icons/check_circle.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt30" layout="row" layout-align="center center">
    <button style="width: auto" (click)="redirect()">
      Submit Loan Application
    </button>
  </div>
</div>
