<div class="page mainDiv">
    <div class="col leftCol" style="padding: 30px;height:400px; background-color: #65558F;">
      <img class="logo" style="padding-bottom: 30px;" src="/assets/icons/logo_yellow.svg" />
      <h1 class="primaryHeading"> Transforming Credit Assessment for Precision and Insight </h1>
      <h3 class="secondaryHeading">Power to the gig economy professionals to get instant loans</h3>
    </div>
  
    <div
      class="col rightCol"
      style="background-color: #E1D9F5;height: calc(100% - 400px);padding:30px;"
      layout="column"
      layout-align="center center"
    >
    <div class="" style="height:100%;width:100%;" layout="column" layout-align="center center">
        <div class="height" style="height:200px;width:100%;background:#fff;margin-bottom: 25px;padding: 0px 15px;">
            <div class="" style="height:60px;width:100%" layout="row" layout-align="center center">
                <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="38px" fill="#003366"><path d="M160-200q-66 0-113-47T0-360q0-57 36.5-101t93.5-55l-28-24H0v-60h180l100 60 160-60h126l-62-80H400v-80h142l84 108 134-68v120h-92l70 92q15-6 30.5-9t31.5-3q66 0 113 47t47 113q0 66-47 113t-113 47q-66 0-113-47t-47-113q0-27 9.5-52.5T676-460l-20-24-136 204H400l-80-70q-5 63-51 106.5T160-200Zm0-80q33 0 56.5-23.5T240-360q0-33-23.5-56.5T160-440q-33 0-56.5 23.5T80-360q0 33 23.5 56.5T160-280Zm294-240-144 54 144-54h130-130Zm346 240q33 0 56.5-23.5T880-360q0-33-23.5-56.5T800-440q-33 0-56.5 23.5T720-360q0 33 23.5 56.5T800-280Zm-322-80 106-160H454l-144 54 120 106h48Z"/></svg>
                <h5 class="loginHeading heading" style="padding-left:10px;">Bike Loan</h5>
            </div>
            <div class="" style="height:70px;width:100%" layout="row" layout-align="center center">
                <h5 class="label fw500 textMuted" style="text-align: center;">Fast, easy, low interest bike loans for gig professionals</h5>
            </div>
            <div class="" (click)="goToLogin()" style="height:60px;width:100%" layout="row" layout-align="center center">
                <button class="button label fw600 h41" style="border-radius: 10px;width:auto;">Get Quote</button>
            </div>
        </div>
        <div class="height" style="height:200px;width:100%;background:#fff;padding: 0px 15px;">
            <div class="" style="height:60px;width:100%" layout="row" layout-align="center center">
                <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="38px" fill="#003366"><path d="M240-200v40q0 17-11.5 28.5T200-120h-40q-17 0-28.5-11.5T120-160v-320l84-240q6-18 21.5-29t34.5-11h440q19 0 34.5 11t21.5 29l84 240v320q0 17-11.5 28.5T800-120h-40q-17 0-28.5-11.5T720-160v-40H240Zm-8-360h496l-42-120H274l-42 120Zm-32 80v200-200Zm100 160q25 0 42.5-17.5T360-380q0-25-17.5-42.5T300-440q-25 0-42.5 17.5T240-380q0 25 17.5 42.5T300-320Zm360 0q25 0 42.5-17.5T720-380q0-25-17.5-42.5T660-440q-25 0-42.5 17.5T600-380q0 25 17.5 42.5T660-320Zm-460 40h560v-200H200v200Z"/></svg>
                <h5 class="loginHeading heading" style="padding-left:10px;">Vehicle Loan</h5>
            </div>
            <div class="" style="height:70px;width:100%" layout="row" layout-align="center center">
                <h5 class="label fw500 textMuted" style="text-align: center;">Our vehicle loans offer customizable repayment plans. Fast approval process and flexible terms to suit your needs.</h5>
            </div>
            <div class="" (click)="goToLogin()" style="height:60px;width:100%" layout="row" layout-align="center center">
                <button class="button label fw600 h41" style="border-radius: 10px;width:auto;">Get Quote</button>
            </div>
        </div>
    </div>
    </div>
  </div>