.h42{
  height: 42px;
}

.h155{
  height: 155px;
}
.h200{
  height: 200px;
}

.labelPadding{
  padding: 10px 12px;
}

button{
  width: 132px;
  height: 40px;
  background: #4F378A;
  color: #ffffff;
}

.box{
  width: 113px;
  height: 114px;
}

.smallBox{
  height: 40px;
  width: 40px;
  background: var(--Schemes-On-Primary-Container, #4F378A);
  color: #ffffff;
  border-radius: 4px;
}

.blur{
  opacity: 0.3;
}

.card{
  background: var(--White, #FFFFFF);
}

.uploadBtn {
  background-color: var(--white);
  color: var(--pc);
  width: auto;
  gap: 5px;
  padding: 0 5px;
  height: 30px;
}